@import '../global/site.variable';

@orange: #ff9600;
@guluYellow: #ffc300;

@bottomHeight: 45px;

.loader {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: @white url('../img/loader-bg.png') no-repeat center bottom;
  background-size: 100% auto;

  .loader-inner {
    width: 40%;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .logo {
    img {
      width: 100%;
      height: auto;
    }

    margin-bottom: 10px;
  }

  .progress-bar {
    width: 100%;
    height: 6px;
    border-radius: 3px;
    padding: 1px;
    background-color: @black;
    margin: 0 auto 15px;

    .progress-bar-inner {
      width: 60%;
      height: 4px;
      border-radius: 2px;
      background-color: @white;
    }
  }
  
  .percent-bar {
    font-size: 12px;
    text-align: center;

    span {
      color: @orange;

      i {
        font-size: 18px;
      }
    }
  }
}

.body {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: @bottomHeight;
  overflow: auto;
}

.pg {
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url('../img/p1-bg.png');
  background-repeat: repeat;

  .pg-pic img {
    width: 100%;
    height: auto;
  }

  .pg-title {
    width: 100%;
    background-size: auto 100%;
    background-position: top center;
    background-repeat: no-repeat;
  }
}

.first {
  .pg-title {
    height: 86px;
    margin-top: -35px;
    background-image: url('../img/p1-text.png');
  }
}

.second {
  padding-top: 30px;
  box-sizing: border-box;

  .pg-title {
    height: 53px;
    background-image: url('../img/p2-text.png');
    margin-bottom: 15px;
  }

  .pg-sub-title {
    width: 20em;
    padding: 5px 10px;
    border: 1px solid @guluYellow;
    text-align: center;
    font-size: 12px;
    margin: 0 auto;
    color: @white;
  }

  .pg-text {
    position: absolute;
    bottom: 0;

    .pg-pic {
      position: relative;
      top: 34px;

      img {
        width: 90%;
        margin-left: 5%;
      }
    }

    .bg-fixer {
      width: 100%;
      height: 31px;
      background-image: url('../img/p2-fix.png');
      background-repeat: no-repeat;
      background-position: bottom center;
      background-size: 100% auto;
    }

    p {
      padding: 30px 20px;
      font-size: 16px;
      background-color: @white;
    }
  }
}

/* 预约 */
.book {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: @guluYellow;

  .book-btn {
    display: block;
    text-align: center;
    height: @bottomHeight;
    line-height: @bottomHeight;
    font-size: 18px;
    color: @black;
  }
}