@import '../global/site.variable';
@import '../global/util.less';
@import './form.less';
@import './loading.less';
@guluYellow: #ffc300;
@guluBrown: #ba7e00;
@serviceBodyBackgroundColor: #434242;

body {
  background-color: @serviceBodyBackgroundColor;
}

.profile {
  width: 100%;
  display: table;
  table-layout: fixed;
  border-collapse: collapse;
  background-color: @guluYellow;

  > div {
    display: table-cell;
    vertical-align: middle;
    padding-top: 20px;
    padding-bottom: 30px;
  }
}

.personal-card {
  width: 40%;
  text-align: right;

  @avatarSize: 60px;
  @nameWidth: 90px;

  .avatar {
    display: inline-block;
    width: @nameWidth;
    margin-right: 15px;

    img {
      display: block;
      width: @avatarSize;
      height: @avatarSize;
      margin-left: auto;
      margin-right: auto;
      border-radius: 50%;
      overflow: hidden;
    }

    h2 {
      font-size: 16px;
      margin-bottom: 0;
      margin-top: 5px;
      text-align: center;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}

.welcome {
  p {
    color: @guluBrown;
    margin-bottom: 0;
  }
}

.service-nav {
  width: 100%;
  list-style: none;
  padding-left: 0;
  margin: 0;
  background-color: @guluYellow;
  display: table;
  table-layout: fixed;
  border-collapse: collapse;

  li {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: @guluBrown;
    font-size: 16px;

    &.active {
      color: @serviceBodyBackgroundColor;

      &:after {
        position: absolute;
        left: 50%;
        bottom: 0;
        margin-left: -8px;
        display: block;
        content: '';
        width: 0;
        height: 0;
        border-bottom: 8px solid @serviceBodyBackgroundColor;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 8px solid transparent;
      }
    }
  }
}

.service-body {
  position: relative;
  list-style: none;
  margin: 0;
  padding-left: 0;

  .order-status {
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    background-color: @guluYellow;
    color: @guluBrown;
    border-radius: 2px;
    padding: 8px 10px;
    vertical-align: middle;
  }

  > li {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    padding: 15px;
    background-color: @serviceBodyBackgroundColor;
    display: none;
  }

  li > ol {
    list-style: none;
    margin: 0;
    padding-left: 0;

    li {
      margin-bottom: 15px;
      background-color: @white;

      &:last-child {
        margin-bottom: 0;
      }

      .car-photo {
        width: 100%;
        background-color: #089098;
        .clearfix();

        img {
          width: 100%;
          height: auto;
          float: left;
        }
      }

      .description {
        padding: 15px 20px;

        > div {
          color: #999;
        }

        .title {
          font-size: 18px;
          margin-bottom: 10px;
          color: #000;

          b, a {
            display: inline-block;
            vertical-align: middle;
          }

          a {
            color: #000000;
            font-size: 14px;
            margin-right: 15px;
          }
        }
      }

      .action {
        width: 100%;

        a {
          display: block;
          background-color: @guluYellow;
          color: @guluBrown;
          text-align: center;
          padding-top: 10px;
          padding-bottom: 10px;
          font-size: 16px;
        }
      }
    }
  }
}


// 列表为空，提示
.empty-tip {
  .detail, .booking-link {
    text-align: center;
    display: block;
  }

  .detail {
    font-size: 14px;
    color: #bbbbbb;
    padding: 3em 1em 1.5em;
  }

  .booking-link {
    width: 10em;
    height: 2.5em;
    line-height: 2.5em;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    background-color: @guluYellow;
    color: @guluBrown;
  }
}

.modal {
  opacity: 0;

  .inner {
    background-color: @white;
    padding-top: 15px;
    padding-bottom: 15px;

    .verify-btn {
      left: auto;
      right: 10px;
      margin-left: 0;
    }
  }
}
