@import '../global/site.variable';

@guluYellow: #ffc300;
@guluBrown: #ba7e00;

.profile {
  width: 100%;
  display: table;
  table-layout: fixed;
  border-collapse: collapse;
  background-color: @guluYellow;

  > div {
    display: table-cell;
    vertical-align: middle;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.name {
  width: 40%;

  h2 {
    font-size: 22px;
    text-align: right;
    margin-bottom: 0;
    padding-right: 15px;
  }
}

.welcome {
  p {
    color: @guluBrown;
    margin-bottom: 0;
  }
}

.service-nav {
  width: 100%;
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  background-color: @guluYellow;
  display: table;
  table-layout: fixed;
  border-collapse: collapse;

  li {
    position: relative;
    display: table-cell;
    vertical-align: middle;

    a {
      display: block;
      padding-top: 10px;
      padding-bottom: 10px;
      text-align: center;
      color: @guluBrown;
      font-size: 16px;
    }

    &.active {
      a {
        color: @white;
      }

      &:after {
        position: absolute;
        left: 50%;
        bottom: 0;
        margin-left: -8px;
        display: block;
        content: '';
        width: 0;
        height: 0;
        border-bottom: 8px solid @white;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 8px solid transparent;
      }
    }
  }
}