@import '../global/site.variable';
@import '../global/util.less';

@inputBorderColor: #cccccc;
@inputFontSize: 14px;
@disabledButtonBackgroundColor: #e2e2e2;
@disabledButtonColor: #999999;
@orange: #ffb400;
@guluYellow: #ffc300;
@guluBrown: #ba7e00;


.button {
  display: block;
  width: 100%;
  border: none;
  padding: 10px;
  text-align: center;
  font-size: @inputFontSize;
  background-color: #fefefe;
  color: #333333;
  outline: none;

  &.yellow {
    background-color: @guluYellow;
    color: @white;
  }

  &.brown {
    background-color: @guluBrown;
    color: @white;
  }

  &:disabled {
    background-color: @disabledButtonBackgroundColor;
    color: @disabledButtonColor;
  }
}

.form {
  padding-left: 15px;
  padding-right: 15px;

  .field {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }

    input[type="text"], input[type="tel"], input[type="search"] {
      border: 1px solid @inputBorderColor;
      padding: 10px;
      font-size: @inputFontSize;
      width: 100%;
    }
  }

  .field.group {
    width: 100%;
    display: table;
    table-layout: fixed;
    border-collapse: collapse;

    .inputer, .action {
      display: table-cell;
      vertical-align: top;
    }

    .inputer input, .action button {
      width: 100%;
    }

    .inputer input {
      border-right: none;
    }

    .action {
      width: 7em;
    }
  }
}

.divider {
  position: relative;
  overflow: hidden;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: 700;
  font-size: 1rem;
  height: auto;
  line-height: 1;

  &.horizontal {
    width: 100%;
    text-align: center;

    &:before, &:after {
      position: absolute;
      content: '';
      z-index: 3;
      width: 50%;
      top: 50%;
      height: 0;
      border-top: 1px solid rgba(0, 0, 0, .1);
      border-bottom: 1px solid rgba(255, 255, 255, .2);
    }

    &:before {
      margin-left: calc(-50% - 1em);
    }

    &:after {
      margin-right: 1em;
    }
  }
}
.pg.first {
  overflow: hidden;
}
.flow-container {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translate(0, -50%);
}
.net-reserve, .phone-reserve {
  position: relative;
  width: 100%;
  height: 50%;

  .inner {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translate(0, -50%);
  }

  header {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 20px;
  }

  .title {
    font-size: 18px; 
  }
}
.net-reserve {
  background-color: @guluYellow;

  .form {
    padding-left: 30px;
    padding-right: 30px;
  }

  .form .field input[type="tel"] {
    border-color: @guluBrown
  }
  
  .reserve-btn {
    font-size: 20px;
  }

  .reserve-btn b {
    font-size: 16px;
    padding-left: 10px;
  }

  .tip {
    color: @guluBrown;
    font-size: 12px;
  }
}
.phone-reserve {
  background-color: #214366;
  color: @white;

  header {
    margin-bottom: 30px;
  }
}

.icon {
  display: inline-block;
  content: '';
  width: 26px;
  height: 26px;
  vertical-align: middle;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;

  &.icon-dianhua {
    background-image: url('../img/iconfont-dianhua.png');
  }
}

.callus {
  margin-bottom: 30px;

  a {
    display: block;
    color: @guluYellow;
    letter-spacing: 2px;
    text-align: center;
    font-size: 22px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bolder;
    // width: 90%;
    // background-color: @guluYellow;
    // margin-left: auto;
    // margin-right: auto;

    .icon {
      margin-right: 3px;
    }
  }
} 
.phone-reserve .tip {
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;

  p {
    margin-bottom: 5px;
  }
}


.pg.second {
  background-color: #FFC600;

  h2 {
    font-size: 22px;
    text-align: center;
    margin-bottom: 30px;
  }
}

.flow-map {
  list-style: none;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  .clearfix();

  li {
    position: relative;
    width: 50%;
    float: left;
    margin-bottom: 30px;
    text-align: center;

    &.last-line {
      margin-bottom: 0;
    }

    h3 {
      font-size: 18px;
      color: #413535;
      margin-top: 5px;
      margin-bottom: 0;
    }

    img {
      width: 61px;
      height: 60px;
    }

    .flow-arrow {
      position: absolute;
      width: 7px;
      height: 13px;
      background: url('../img/flow/flow-next.png') no-repeat center center;
      background-size: 100% 100%;

      &.right, &.left {
        top: 50%;
        margin-top: -6.5px;
      }

      &.right {
        right: -3.5px;
      }

      &.left {
        left: -3.5px;
        transform: rotate(180deg);
      }

      &.bottom {
        left: 50%;
        margin-left: -3.5px;
        bottom: -6.5px - 15px;
        transform: rotate(90deg);
      }
    }
  }
}