@import '../global/site.variable';
@import '../global/util.less';
@import './header.less';

@guluYellow: #ffc300;
@guluBrown: #ba7e00;

.profile {
  width: 100%;
  display: table;
  table-layout: fixed;
  border-collapse: collapse;
  background-color: @guluYellow;

  > div {
    display: table-cell;
    vertical-align: middle;
    padding-top: 30px;
    padding-bottom: 20px;
  }

  .avatar {
    img {
      display: block;
      width: 126px;
      height: 126px;
      margin: 0 auto;
      border-radius: 63px;
    }
  }

  .detail {
    padding-left: 15px;
    padding-right: 15px;

    .name-wrapper {
      b {
        font-size: 22px;
      }

      span {
        color: @guluBrown;
        font-size: 12px;
      }
    }

    .job {
      color: @guluBrown;
    }
  }
}

.intro-nav {
  list-style: none;
  width: 100%;
  margin-top: 0;
  padding-left: 0;
  display: table;
  table-layout: fixed;
  border-collapse: collapse;
  background-color: @guluYellow;

  li {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: @guluBrown;
    font-size: 16px;

    &.active {
      color: @white;

      &:after {
        position: absolute;
        left: 50%;
        bottom: 0;
        margin-left: -8px;
        display: block;
        content: '';
        width: 0;
        height: 0;
        border-bottom: 8px solid @white;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 8px solid transparent;
      }
    }
  }
}

.intro-body {
  position: relative;
  list-style: none;
  padding-left: 0;

  > li {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 30px;
    display: none;

    p {
      color: #666666;
    }
  }
}

.case-list {
  .clearfix();
  margin-right: -15px;
  list-style: none;
  padding-left: 0;

  li {
    float: left;
    width: 50%;
    margin-bottom: 15px;
    
    a {
      display: block;
      position: relative;
      max-width: 280px;
      margin-right: 15px;

      &:active {
        transform: scale(0.95);
      }
      
      .car-pic {
        .clearfix();
      }

      img {
        width: 100%;
        height: auto;
        float: left;
      }

      .car-desc {
        position: absolute;
        width: 100%;
        bottom: 0;
        background-color: rgba(0, 0, 0, .5);
        color: @white;
        font-size: 16px;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
      }
    }
  }
}

.feedback {
  list-style: none;
  padding-left: 0;

  li {
    margin-bottom: 15px;

    .fb-date {
      font-size: 14px;
      color: #999999;
      margin-bottom: 5px;
    }

    .fb-text {
      margin-bottom: 5px;
    }

    .fb-user {
      text-align: right;
      color: #999999;
    }
  }
}