@import '../global/site.variable';

.pg-pic img {
  width: 100%;
  height: auto;
}

.pg-text {
  position: absolute;
  width: 100%;
  bottom: 0;
  font-size: 16px;
  background-color: @white;
  padding-top: 15px;
  padding-bottom: 15px;

  .title {
    margin-bottom: 20px;
    margin-left: 15px;

    b {
      font-size: 24px;
    }

    span {
      // font-size: 12px;
    }
  }

  .description {
    text-align: center;
    p {
      margin-bottom: 0.3em;
    }
  }
}