@import '../global/site.variable';
@import '../global/util.less';

.profile-wrapper {

}

.profile {
  width: 100%;
  display: table;
  table-layout: fixed;
  border-collapse: collapse;

  > div {
    display: table-cell;
    vertical-align: middle;
  }

  .avatar {
    width: 250px;
    height: 250px;
    border-radius: 125px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .detail {
    .name-wrapper {
      b {
        font-size: 22px;
      }
      
    }
  }
}